<% layout('./layouts/boilerplate') %>

<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Add a campground</a>
<% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <img src="<%= campground.image %>" class="img-fluid" alt="Campground image">
            </div>
            <div class="col-8 p-2">
                <h5 class="card-title">
                    <%= campground.title %>
                </h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        <%= campground.location %>
                    </small>
                </p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
            </div>
        </div>
    </div>
<% } %>
